// ------- BASIC COLOR PALLET

$color-black: #000;
$color-white: #fff;
$color-white-grey: #eee;
$color-grey-dark: #525252;


// ------- COLORS ----------------

$color-blue-primary: rgba(30, 67, 86, 0.8);
$color-blue-secondary: rgba(30, 67, 86, 0.6);

$color-blue-primary-1: rgb(30, 67, 86);
$color-blue-light: #68A4C4;

// ------- GRID VARIABLES ----------

$grid-max-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
